.custom-header-style {
  margin: 0;
  background-color: #004d00;
  font-weight: bold;
}
/* Increase font size for labels */
.modify-agent-container label {
    font-size: 14px; /* Slightly bigger */
    font-weight: bold;
    color: #075307;
}


