.update-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #f4f4f4;
    margin-top: 80px;
}

.update-profile-card {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70vw;
    border: 1px solid #075307;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.form-group {
    width: 60%;
    margin: 8px;
}

.UpdateProfile-form-label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #075307;
    margin-bottom: 2px;
}


.update-profile-card input,
.update-profile-card select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
}


.update-profile-card input:focus,
.update-profile-card select:focus {
    border-color: #075307;
    box-shadow: 0 0 4px rgba(7, 83, 7, 0.5);
}


.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.submit-btn {
    background: #075307;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background: #064306;
}